@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
font-family: "BebasNeue-Regular";
src: url("../CSS/BebasNeue-Regular.eot");
src:
url("../CSS/BebasNeue-Regular.woff") format("woff"),
url("../CSS/BebasNeue-Regular.otf") format("opentype"),
url("../CSS/BebasNeue-Regular.ttf") format("truetype"),
url("../CSS/BebasNeue-Regular.woff2") format("woff2");
}
/*This makes the elements flow accordingly since our header is in a fixed position*/
.indexFix{

  position: static;
	top: 0;
	height: 110px;

	width: 100%;

  margin-bottom: 35px;
}
/*Our main fixed site Header, contains Nav, logo, and everything in our header*/
.siteHeader{
  position: fixed;
  width: 100%;

  z-index: 1111;
  height: 110px;
  padding: 0 0px;
  color: #fff;
  background: #31383F;



}

/*Logo on the left side*/
.logo{
height: 60px;
width: 80px;
float: left;
text-transform: uppercase;
/*How far it is on the left side TODO FIX*/
margin-left: 5vw;
margin-top: 25px;

}

.logo:hover{
  opacity: 0.6;
 transition: 0.2s;
}

/*Our Nav wrapper*/
.menu{

	float: right;
	line-height: 110px;
  /*Menu right side TODO Adjust*/
  margin-right: 6%;
}

.menu a{

	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
  font-weight: 100;
  letter-spacing: 0.7px;
  font-size: 14px;
	padding: 0 20px;
	transition: 0.4s;
}

.menu  a.give{
  background: white;
  line-height: 10px;
  color: #31383F;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.7px;
  font-size: 14px;
  padding: 7px 30px 7px 30px;
  transition: 0.4s;
}

.active{

  box-sizing: border-box;
  border-radius: 8px;

}

/*Search bar*/
.menu input{
  background-color: transparent;
  color: whitesmoke;
  padding-left: 10px;
  margin-left: 20px;
  font-size: 1em;
  font-weight: 300;
  width: 190px;
  height: 30px;
  box-sizing: border-box;
  border: 0.9px solid white;
  border-radius: 8px;
}

/*Our hamburger icon and X button*/
.show-hambrger-btn, .hide-hambrger-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

/*our hamburger icon*/
.show-hambrger-btn{
	float: right;
  margin-right: 20px;
}

#hamBurger{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.show-hambrger-btn i{
	line-height: 100px;
}

.menu a:hover, .show-hambrger-btn:hover,
.hide-hambrger-btn:hover{
	color: #D6AA47;
}


/*At 1000px, We will change our header to match a mobile friendly header*/
@media screen and (max-width:1000px) {
	.show-hambrger-btn, .hide-hambrger-btn{
		display: block;

	}

  .logo{
  height: 160px;
  width: 210px;
  float: left;
  text-transform: uppercase;
  /*How far it is on the left side TODO FIX*/
  margin-left: 6vw;
  margin-top: 7vh;

  }

.show-hambrger-btn{
  margin-top: 8vh;
  font-size: 2.7em;
}

.show-hambrger-btn::after{
  content: "MENU";
}



.indexFix{
  margin-bottom: 0;
  height: 300px;
}

.siteHeader{
  height: 300px;
}

	.menu{

		position: fixed;
		width: 100%;
		height: 100vh;
		background: #333;
    margin-right: 0%;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
		z-index: 1111;
	}

  .menu  a.give{


    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    background: #515356;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 5em;
    padding: 80px 0;

  }

	.menu a{


    background: #515356;
		display: block;
		padding: 20px;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 5em;
	}

  .menu input{
    margin-left: 1vw;
    margin-top: 5vh;
    height: 5vh;
    width: 50vw;
  }

	.hide-hambrger-btn{
		position: absolute;
		top: 40px;
		right: 40px;
	}

	#hamBurger:checked ~ .menu{
		right: 0;

		}
	}
